body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

h1 {
    font-size: 3rem;
    color: #333;
}

.container {
    text-align: center;
}

.language-switch {
    position: absolute;
    top: 10px;
    right: 10px;
}
